<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <!-- <p>Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can <a href="#" target="_blank">download this free resume/CV template here</a>. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p> -->
    <p>My professional objective is to be an active member of a disruptive and influential industry innovator. Above all personal goals, I value local and global outreach as well as open-source contribution. I want to be part of a team of problem-solvers with the experience and determination to enhance their community, possibly the world, and grow in the process.</p>
</div><!--//summary-->
</section><!--//section-->