<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">June 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Progyny, New York, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Acted as Product Owner and Lead Developer for in-house insurance eligibility system</li>
                            <li>Designed and developed system for receiving, decrypting, parsing, and storing member eligibility data using Laravel 5, Blade, and Linux Shell scripting</li>
                            <li>Designed and developed service-oriented architecture</li>
                            <li>Converted monolithic legacy systems into Lumen services</li>
                            <li>Managed Progyny SFTP server, users, and file exchange jobs with S3</li>
                            <li>Developed Lumen infrastructure around Salesforce, integrating with current and upcoming systems</li>
                            <li>Developed, tested, and implemented interdepartmental processes following technology releases</li>
                            <li>Acted as Project Lead in several front-end, server-side, and infrastructure projects, using Jira and Asana to manage developer resources, set goals, and track progress</li>
                            <li>Extended internal and external APIs in Node.JS, Laravel (Dingo), and Lumen</li>
                            <li>Enhanced development environment workflows, automation, and continuous integration pipelines using Gulp (Elixir), Circle CI, and Jenkins</li>
                            <li>Contributed heavily to internal knowledge sharing through documentation and hands-on workshops</li>
                            <li>Documented existing and upcoming systems and APIs in Confluence and Sharepoint</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Support Engineer</h3>
                            <div class="time">June 2015 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Confirmit, New York, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Supported Confirmit’s Authoring, Reportal, Active Dashboards, and SmartHub platforms.</li>
                            <li>Provided engineering-consulting services to Market Research clients.</li>
                            <li>Built reporting and survey-management tools.</li>
                            <li>Developed custom data-processing and survey-logic algorithms for Market Research clients.</li>
                            <li>Worked alongside Operations Engineers to monitor, assess, and improve Confirmit’s platforms.</li>
                            <li>Troubleshoot programming logic, database, and server issues with clients.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co-Founder, Lead Engineer, and IT Consultant</h3>
                            <div class="time"> May 2014 - May 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">DATA Lab, Bloomsburg, PA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Co-founded university organization focused on community outreach.</li>
                            <li>Designed, built, deployed, and maintained web services, applications, servers, and other software for local organizations.</li>
                            <li>Worked with researchers to provide custom software for use in academic research focused on the Semantic Web, text analytics, geology, and other areas.</li>
                            <li>Solved business problems using modern, low-cost, lean approaches.</li>
                            <li>Trained and managed junior engineers.</li>
                        </ul>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->