<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">June 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Progyny, New York, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Worked both as a fullstack and server-side engineer.</li>
                            <li>Design, develop, and manage a secure, HIPAA-compliant, and proprietary platform.</li>
                            <li>Assist in architectural design for systems in development.</li>
                            <li>Design and develop internal software for client-facing employees.</li>
                            <li>Enhance development environment workflows, automation, and continuous integration pipelines.</li>
                            <li>Extend internal and external APIs. </li>
                            <li>Document existing and upcoming systems and APIs.</li>
                            <li>Managed small-team project from redesign to deployment.</li>
                            <li>Develop internal automation systems.</li>
                            <li>Contribute heavily to internal knowledge sharing.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Support Engineer</h3>
                            <div class="time">June 2015 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Confirmit, New York, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Supported Confirmit’s Authoring, Reportal, Active Dashboards, and SmartHub platforms.</li>
                            <li>Provided engineering-consulting services to Market Research clients.</li>
                            <li>Built reporting and survey-management tools.</li>
                            <li>Developed custom data-processing and survey-logic algorithms for Market Research clients.</li>
                            <li>Worked alongside Operations Engineers to monitor, assess, and improve Confirmit’s platforms.</li>
                            <li>Troubleshoot programming logic, database, and server issues with clients.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co-Founder, Lead Engineer, and IT Consultant</h3>
                            <div class="time"> May 2014 - May 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">DATA Lab, Bloomsburg, PA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Co-founded university organization focused on community outreach.</li>
                            <li>Designed, built, deployed, and maintained web services, applications, servers, and other software for local organizations.</li>
                            <li>Worked with researchers to provide custom software for use in academic research focused on the Semantic Web, text analytics, geology, and other areas.</li>
                            <li>Solved business problems using modern, low-cost, lean approaches.</li>
                            <li>Trained and managed junior engineers.</li>
                        </ul>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->