<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>The following are a few projects I've been involved in professionally that I have learned a great deal from:</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title">Proprietary Chat System</span> - <span class="project-tagline">Secure Benefits Member Messaging System</span>
        <ul>
            <li>Lead full-stack production application development project</li>
            <li>Designed client-side architecture</li>
            <li>Developed and documented Laravel Dingo API</li>
        </ul>
    </div>
    <div class="item">
        <span class="project-title">Proprietary CRM</span> - <span class="project-tagline">Internal Healthcare Provider and Clinic portal</span>
        <ul>
            <li>Extended internal provider &amp; clinic management system</li>
            <li>Developed and documented error handling and logging system</li>
        </ul>
    </div>
    <div class="item">
        <span class="project-title">Multi-Agent EHR System</span> - <span class="project-tagline">Agent-Oriented Healthcare Data Integration and Anonymization System</span>
        <ul>
            <li>Studied Agent-Oriented Programming within JADE.</li>
            <li>Achieved cross-platform Agent text and encoded (Base64) file transmission.</li>
            <li>Designed and built system using JADE, Apache Jena (OWL, SPARQL).</li>
        </ul>
    </div>
    <div class="item">
        <span class="project-title">Donated Goods IMS</span> - <span class="project-tagline">Charity Goods Inventory Management System</span>
        <ul>
            <li>Designed and built IMS for tracking charity goods inventory and donations.</li>
            <li>Integrated open-source barcoding system based on 2D barcodes.</li>
        </ul>
    </div>
</section><!--//section-->